/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24-Jan-2023, 1:32:19 pm
    Author     : RISHAV DUTTA
*/
body h1{
    text-align: center;
}
.form_style{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filed_style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
